:root {
    --body-color: #bdc9eb;
    --sidebar-color: #E4E9F7;
    --header-color: #9c9797;   
    --primary-color: #695CFE;
    --only: #695CFE;
    --primary-light-color: #F6F5FF;
    --toggle-color: #101010;
    --text-color: #303335;
  }


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body.dark{
    --body-color: #303335;
    --sidebar-color: #3c4043;
    --header-color: #3A3B3C;   
    --primary-color: #222221;
    --only: #695CFE;
    --primary-light-color: #3A3B3C;
    --toggle-color: #707070;
    --text-color: #CCC;
}

/* <!-- --header-- --> */

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background: var(--sidebar-color);
    transition: .7s;
}

header a{
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
}

header a i{
    margin-right: 10px;
    color: #695CFE;
}



.headermenu{
    position: absolute;
    right: 80px;
    display: flex;
}

.headermenu li{
    list-style: none;
    margin: 5px;
}

.headermenu li span:hover{
    color: #695CFE;
}




.toggle__switch{
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.toggle__switch .switch{
    position: absolute;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: .7s;
}

body.dark .switch::before{
    left: 25px;
}


/* <!-- --Body-- --> */

.body__{
    display: flex;
    flex-wrap: wrap;
}

/* <!-- --Sidebar-- --> */

.body__ .sidebar__{
    position: relative;
    padding: 10px 14px;
    background: var(--sidebar-color);
    width: 250px;
    min-height: calc(100vh - 100px);
    transition: .7s;
}

.sidebar__.close{
    width: 88px;
}



.toggle{
    position: absolute;
    top: 13px;
    right: -12.5px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: #695CFE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--toggle-color);
    font-size: 25px;
    transition: 0.2s;
    cursor: pointer;
}

.sidebar__.close .toggle{
    transform: translateY(-50%);
}

body.dark .sidebar__ .toggle{
    color: var(--text-color);
}

.icontext{
    width: 100%;
    height: 60px;
    transition: .7s;
    white-space: nowrap;
    margin: 10px 10px 0 10px;
}

.icontext i{
    padding-right: 5px;
    font-size: 40px;
    color: #695CFE;
}

.icontext .closetext{
    font-size: 40px;
    color: var(--text-color);
    transition: .7s;
    white-space: nowrap;
}

.sidebar__.close .closetext{
    display: none;

}

.menusong{
    position: relative;
    height: calc(100% - 70px);
    width: 100%;
}


.menusong li{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-bottom: 2px;
    cursor: pointer;
    transition: .5s linear;
    border-radius: 12px;
}


.menusong li:hover{
    background: var(--primary-color);
    border-radius: 12px;
}

.menusong li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menusong li .closeh5{
    color: var(--text-color);
    padding-left: 10px;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 600;
}

.menusong li h5 .subtitle{
    font-size: 10px;
    color: var(--toggle-color);
}

.sidebar__.close .closeh5{
    display: none;

}

.menusong li .bx{
    position: absolute;
    right: 5px;
    top: 17px;
    font-size: 24px;
    color: var(--text-color);
    white-space: nowrap;
}




/* <!-- --Section-- --> */


.section__{
    width: calc(100% - 250px);
    background: var(--body-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s;
}

.section__.close{
    width: calc(100% - 88px);
}

/* --home-- */

.gif {
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}
.btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
button {
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    font-size: 1.2em;
}
button:nth-child(1) {
    margin-left: -200px;
    background: #e94d58;
}
button:nth-child(2) {
    margin-right: -200px;
    background: white;
    color: #e94d58;
    z-index: 9999;
}

/* --book-- */


.book{
    position: relative;
    width: 400px;
    height: 500px;
    transition: transform 1.5s;
    perspective: 1500px;
    border-radius: 5px 15px 15px 5px;
}

.input-nom{
   display: none;
}


.cover, .back-cover{
    width: 100%;
    height: 100%;
    border-radius: 5px 15px 15px 5px;
    box-shadow: 0 0 3px var(--toggle-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center left;
}

.cover{
    background: url(book-img/1/cover.jpg);
    background-size: cover;
    position: absolute;
    z-index: 12;
    transition: transform 1.5s;
}

.cover label{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.back-cover{
    background: url(book-img/1/back-cover.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
    transition: transform 1.5s, z-index 0s 1.5s;
    transition-duration: 1.5s;
}

.back-cover label{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.page{
    position: absolute;
    width: 390px;
    height: 490px;
    background: white;
    border-radius: 5px 15px 15px 5px;
    margin-top: 5px ;
    transform-origin: left;
    transition: transform 5s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition-duration: 1.5s;
}

.page img{
    width: 100%;
    height: 100%;
    border-radius: 15px 5px 5px 15px;
    transform-origin: left;
    transition: transform 1.5s;
}

.front-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1rem;
}

.front-page h4{
    height: 100%;
    color: #303335;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1 .front-page p{
    height: calc(100% - 53px);
    color: #303335;
    display: flex;
    align-items: start;
    justify-content: space-around;

}

.front-page p{
    text-align: justify;
    height: 100%;
    color: #303335;
    display: flex;
    align-items: start;
    justify-content: center;
}

.front-page p1{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.front-page label i{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--only);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-page{
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 12;
}

.back-page label i{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--only);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next, .prev{
    position: absolute;
    bottom: 1em;
    cursor: pointer;
}

.next{
    right: 1em;
}

.prev{
    left: 1em;
}

#page1{
    z-index: 10;
}
#page2{

    z-index: 9;
}
#page3{

    z-index: 8;
}
#page4{

    z-index: 7;
}
#page5{
    z-index: 6;
}
#page6{
    transition: transform 1.5s, z-index 0s 1.5s;
    z-index: 5;
}
#page7{
    transition: transform 1.5s, z-index 0s 1.5s;
    z-index: 4;
}
#page8{
    transition: transform 1.5s, z-index 0s 1.5s;
    z-index: 3;
}
#page9{
    transition: transform 1.5s, z-index 0s 1.5s;
    z-index: 2;
}
#page10{
    transition: transform 1.5s, z-index 0s 1.5s;
    z-index: 1;
}

#checkbox-cover:checked ~ .book{
    transform: translateX(150px);
}

#checkbox-cover:checked ~ .book .cover{
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 1;
}

#checkbox-cover:checked ~ .book .page{
    box-shadow: 0 0 2px var(--toggle-color);
}

#checkbox-page1:checked ~ .book #page1{
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 2;
}

#checkbox-page2:checked ~ .book #page2{
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 3;
}
#checkbox-page3:checked ~ .book #page3{
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 4;
}

#checkbox-page4:checked ~ .book #page4{
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 5;
}
#checkbox-page5:checked ~ .book #page5{
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 6;
}

#checkbox-page6:checked ~ .book #page6{
    transition: transform 1.5s, z-index 0s 0s;
    transform: rotateY(-180deg);
    z-index: 7;
}
#checkbox-page7:checked ~ .book #page7{
    transition: transform 1.5s, z-index 0s 0s;
    transform: rotateY(-180deg);
    z-index: 8;
}

#checkbox-page8:checked ~ .book #page8{
    transition: transform 1.5s, z-index 0s 0s;
    transform: rotateY(-180deg);
    z-index: 9;
}
#checkbox-page9:checked ~ .book #page9{
    transition: transform 1.5s, z-index 0s 0s;
    transform: rotateY(-180deg);
    z-index: 10;
}
#checkbox-page10:checked ~ .book #page10{
    transition: transform 1.5s, z-index 0s 0s;
    transform: rotateY(-180deg);
    z-index: 11;
}

#checkbox-back-cover:checked ~ .book{
    transform: translateX(390px);
}

#checkbox-back-cover:checked ~ .book .back-cover{
    transition: transform 1.5s, z-index 0s 0s;
    transform: rotateY(-180deg);
    z-index: 11;
}


/* <!-- --footer-- --> */

footer{
    background: var(--sidebar-color);
    height: 50px;
    width: 100%;
    transition: .7s;
}

.masterplay{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.phone{
    display: none;
}

.wave{
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 2px;
}

.wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0 0;
    background: #695CFE;
    animation: unset;
}

.wave .wave1:nth-child(2){
    height: 13px;
    /* animation-delay: .4s; */
}

.wave .wave1:nth-child(3){
    height: 8px;
    /* animation-delay: .8s; */
}

/* java */

.active2 .wave1{
    animation: wave .5s linear infinite;
}

.active2 .wave1:nth-child(2){
    animation-delay: .4s;
}

.active2 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

.masterplay .cover_{
    position: relative;
    top: 5px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 168px;
}

.masterplay img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.masterplay h5{
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: var(--text-color);
    line-height: 17px;
}

.masterplay h5 .subtitle{
    font-size: 11px;
    color: var(--toggle-color);
}

.masterplay .icon{
    display: flex;
    font-size: 30px;
    color: var(--only);
    margin: 10px 10px 0 0;
    transition: .3s linear;
}

.icon .bx{
    cursor: pointer;
    outline: none;
}

.masterplay span{
    color: var(--only);
    width: 32px;
    font-size: 11px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 10px;
}

.masterplay #currentStart{
    margin: 10px 0 0 30px;
}

.masterplay .bar{
    position: relative;
    display: flex;
    align-items: center;
    width: 43%;
    height: 2px;
    background: var(--toggle-color);
    margin: 10px 5px 0 5px;
}

.masterplay .bar .bar2{
    position: absolute;
    background: var(--only);
    width: 0%;
    height: 100%;
    top: 0;
    transition: .5s linear;
}

.masterplay .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--only);
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: .5s linear;
}

.masterplay .bar .dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid var(--only);
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px var(--only);
}

.masterplay .bar input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999;
    transition: 3s linear;
    opacity: 0;
}

.masterplay .vol{
    position: absolute;
    right: 10px;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    margin-top: 10px;
    background: var(--toggle-color);
}

.masterplay .vol .bx{
    position: absolute;
    color: var(--only);
    font-size: 20px;
    top: -8px;
    left: -23px;
}

.masterplay .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 999;
    transition: 3s linear;
    opacity: 0;
}

.masterplay .vol .vol_bar{
    position: absolute;
    background: var(--only);
    width: 0%;
    height: 100%;
    top: 0;
    transition: .5s linear;
}

.masterplay .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--only);
    border-radius: 50%;
    left: 30%;
    top: -1px;
    transition: .5s linear;
}

.masterplay .vol .dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid var(--only);
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px var(--only);
}


@media only screen and (max-width:768px) {



    .body__ .sidebar__{
        position: absolute;
        width: 88px;
        transition: all .1s linear;
        visibility: hidden;
        z-index: 99999;
    }

    .section__.close{
        height: calc(100vh - 100px);
        width: 100%;
    }

    .icontext{
        display: none;
    }


    .toggle{
        display: none;
    }



    .headermenu span{
        display: none;
    }

    .masterplay .cover_{
        display: none;
    }

    .wave{
        opacity: 0;
    }

    .masterplay span{
       display: none;
    }
    
    .masterplay .bar{
        display: none;
    }

    .phone{
        width: 30px;
        height: 30px;
        margin-top: 12px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--only);
    }

    .phone:hover{
        background: var(--toggle-color);
        border-radius: 6px;
    }
    
}