:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --title-color: rgb(210, 228, 241);
    --first-color: rgb(143, 172, 192);   
    --text-color: rgb(129, 141, 151);
    --body-color: rgb(72, 77, 81);
    --container-color: #fff;
  }


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: var(--body-color);
}

a {
    text-decoration: none;
    color: var(--first-color);
}

h1{
    color: var(--text-color);
}

h2{
    padding: 20px;
}


p{
    color: var(--first-color);
    text-align: justify;
}


.sidebar__{    
    background: var(--title-color);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.sidebar__ a {
    color: var();
}

.section{
    display: grid;
}

.div1 {
    color: var(--first-color);
    padding: 10px;
    color: #ffffff;
}
.div2 {
    padding: 10px;
    color: #ffffff;
}
.div3 {
    padding: 10px;
    color: #ffffff;
}